@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

$primary: #009ee3;

$font-family-base: "Poppins", sans-serif;
$font-weight-base: 500;

$card-border-width: 0rem;

@import "../../../node_modules/bootstrap/scss/bootstrap.scss";

header {
    height: 40vh;
    width: auto;
    background-image: url("../assets/header.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

body {
    padding-bottom: 2rem;
}
